#cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: 0.1s;
  pointer-events: none;
}
#cursor.clickable {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  backdrop-filter: blur(1px);
}
#cursorPointer {
  position: absolute;
  width: 30px;
  height: 24px;
  transform: translateX(-16%);
  pointer-events: none;
  z-index: 200;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 24 24"><path fill="%23FFFFFF" stroke="%23000" stroke-width="1.75" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>')
}